@model NewsReader.Models.NewsItem

@{
    ViewBag.Title = "Summary";
}

<h2>Summary</h2>

<div>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Site)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Site)
<dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Summary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Summary)
        </dd>

        <dt>
            Published
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublishDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Links)
        </dt>

        <dd>
            <a href=@Html.DisplayFor(model => model.Links)>@Html.DisplayFor(model => model.Links) &raquo;</a>
        </dd>
    </dl>
</div>

<form><input type="button" value="Back to News Listing" onclick="history.go(-1);return true;"></form>

